/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gloria+Hallelujah|Homemade+Apple|Crimson+Text|Playfair+Display|Tangerine');

html {
    background-image: url("https://i.pinimg.com/736x/27/9d/fb/279dfb8bd1dd7618fdc2c91ec8722d6a--fantasy-map-writing-fantasy.jpg");
       /* background-attachment: fixed; */
       background-size: 100%;
   }
   html, body {
    min-height: 100%;
    min-wwidth: 100%;    
   }

   .tint {
       z-index: 1;
    height: 100%;
   width: 100%;
   top: 0px;
   left: 0px;
   background: rgba(0,0, 0, 0.7);    
   }
.profile-img{
    margin-top: -5px;
    margin-right: 5px;
    float: left;
    background: url("https://i.pinimg.com/736x/a0/4d/bb/a04dbb26ee3c917e76d0154fef0a7b8c--westie-dog-westies.jpg") 50% 50% no-repeat; /* 50% 50% centers image in div */
    background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
    width: 30px;
    height: 30px;
}

*{
    font-family: "Amatic SC", cursive;
}

nav{
    font-size: 2em;
    margin-bottom: 0;
}

.navbar-brand{
    font-size: 1.5em;
}

body {
    background: url("https://i.pinimg.com/736x/27/9d/fb/279dfb8bd1dd7618fdc2c91ec8722d6a--fantasy-map-writing-fantasy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    }

.big-fix{
    background-color: rgba(255,255,255, .2);

}